
body { 
 background: #EFEFEF;
 /* Añade color de fondo al body */
}
::-webkit-scrollbar {
    width: 12px;
    background: #EFEFEF;
}
::-webkit-scrollbar-thumb:hover {
   background: #111;    
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
     display: none;    
}
 ::-webkit-scrollbar-thumb {
     background: #333;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

@font-face {
  font-family: fuentePrincipal;
  src: url('http://localhost/blog/public/assets/fonts/calibri.ttf');
  /* Importa la fuente que usaremos en el blog */
}
.titularEntrada{
  text-decoration: none;
  color: black;
  font-family: fuentePrincipal;
}
.imagenEntradas{
  text-align: center;
  height: 50%;
  weight:50%;
}
.viewContenido{
  /* Damos formato al texto en la view que nos muestra el contenido
  de la entrada seleccionada */
  font-family: fuentePrincipal;
  text-align: justify;
  font-size: 20px;
  border-left: 30px;
  border-right: 30px;
}
.enviarComentario{
  /* damos formato a el formulario usado para enviar los comentarios */
  font-family: fuentePrincipal
  text-align:justify;
  font-size: 20px;
  border-left: 30px;
  border-right: 30px;
}
.show_entries{
  /*Damos formato al texto de la vista que nos muestra la entradas del usuario
  que tiene iniciada la sesión*/
  text-decoration: none;
  font-family: fuentePrincipal;
  text-align: justify;
  font-size: 20px;
  border-left: 30px;
  border-right: 30px;
  margin-left: 25%;
  margin-right: 25%;
}
.cabecera{
  text-align: center;
  font-family: fuentePrincipal;
  font-size:50px;

}
.tituloShowEntries{
  text-align: left;
  text-decoration: none;
  font-family: fuentePrincipal;
  font-size: 40px;
}
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: fuentePrincipal;
  font-size: 20px;
}
input[type=submit] {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-family: fuentePrincipal;
  font-size: 20px;
}
input[type=submit]:hover:not(.active) {
  background-color: #111;
}
input[type=reset] {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-family: fuentePrincipal;
  font-size: 20px;
}
input[type=reset]:hover:not(.active) {
  background-color: #111;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: fuentePrincipal;
  font-size: 20px;
}
input[type=content], select {

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: fuentePrincipal;
  font-size: 20px;
}
.editTextArea{
  font-family: fuentePrincipal;
  font-size: 20px;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 100%
}
.button1Datatables{
 width: 100%;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-family: fuentePrincipal;
  font-size: 20px;
}
.button1Datatables:hover:not(.active) {
  background-color: #111;
}
$.toast({
  text: "Datos incorrectos", // Text that is to be shown in the toast
  heading: 'Aviso', // Optional heading to be shown on the toast
  icon: 'warning', // Type of toast icon
  showHideTransition: 'plain', // fade, slide or plain
  allowToastClose: true, // Boolean value true or false
  hideAfter: 0, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
  stack: 5, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
  position: 'top-left', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
  loaderBg: '#9EC600'


  textAlign: 'left',  // Text alignment i.e. left, right or center
  loader: true,  // Whether to show loader or not. True by default
  loaderBg: '#9EC600',  // Background color of the toast loader
  beforeShow: function () {}, // will be triggered before the toast is shown
  afterShown: function () {}, // will be triggered after the toat has been shown
  beforeHide: function () {}, // will be triggered before the toast gets hidden
  afterHidden: function () {}  // will be triggered after the toast has been hidden
  });

hr.style13 {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

#header {
  background-color:#EFEFEF;
  font-family: fuentePrincipal;
  color:black;
  text-align:center;
  padding:5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  font-family: fuentePrincipal;
}

li a {
  font-family: fuentePrincipal;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.principal {
  background-color: #4CAF50;
}

.final {
  background-color: #4CAF50;
  font-family: fuentePrincipal;
  text-align: center;
  font-size: 20px;
  border-left: 30px;
  border-right: 30px;
  margin-left: 25%;
  margin-right: 25%;
}
hr.style13 {
  margin-top: 0px;
  border: 0;
  width: 100%;
  height: 5px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(51, 51, 51, 1), rgba(0, 0, 0, 0));
}
